<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
</head>
<body>
    <div class="mypanel"></div>

    <script>
        var requestURL = 'http://127.0.0.1:5000/api/v1/get/posts';
        var request = new XMLHttpRequest();
        request.open('GET', requestURL);
        request.responseType = 'json';
        request.send();
        request.onload = function() {
          var data = request.response;
          data_func(data);
        }
        function data_func(jsonObj) {
          var myH1 = document.createElement('h1');
          myH1.textContent = jsonObj['posts'];
          var posts_str = jsonObj['posts'];
          var section = document.querySelector('section');
          var myArticle = document.createElement('article');
          var myList = document.createElement('ul');
          console.log(posts_str[1]);
          console.log(posts_str);
          for (var i = 1; i < posts_str.length; i++) {
            console.log(i);
            var listItem = document.createElement('li');
            listItem.textContent = jsonObj['posts'];
            myList.appendChild(listItem);
            console.log(listItem);
          }
          myArticle.appendChild(myList);
          section.appendChild(myArticle);
        }
    </script>
    <script>
        fetch('http://127.0.0.1:5000/api/v1/get/posts')
        .then(response => response.json())
    </script>
<section>
</section>
</body>